.green-theme {
    background: linear-gradient(90deg, #2be4ad, #eaecc6);
    color: black;
}

.purple-theme {
    background: linear-gradient(90deg, #5e12eb, #a92be4);
    color: rgb(189, 189, 189);
}

.basic-theme {
    background: rgb(61, 61, 61);
    color: white;
}

.white-theme {
    background: rgb(241, 241, 241);
}